<h1>Listing attendees for <%= @event.description %></h1>

<table>
  <tr>
    <th>Event</th>
    <th>Email</th>
    <th>Name</th>
    <th>Semester</th>
    <th>Num guests</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.event_id %></td>
    <td><%= attendee.email %></td>
    <td><%= attendee.name %></td>
    <td><%= attendee.semester %></td>
    <td><%= attendee.num_guests %></td>
    <td><%= link_to 'Show', event_attendee_path(@event, attendee) %></td>
    <td><%= link_to 'Edit', edit_event_attendee_path(@event, attendee) %></td>
    <td><%= link_to 'Destroy', event_attendee_path(@event, attendee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendee', new_event_attendee_path %>
