<h1>Listing attendees for <%= @event.event_name.html_safe %></h1>

Attendee Count (including guests): <%= total_rsvps_event(@event) %>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Semester</th>
    <th>Guests</th>
    <th>Create Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.email %></td>
    <td><%= attendee.name %></td>
    <td><%= attendee.phone %></td>    
    <td><%= attendee.semester %></td>
    <td><%= attendee.num_guests %></td>
    <td><%= attendee.created_at.strftime("%B %d, %Y") rescue nil %></td>
    <td><%= link_to 'Show', event_attendee_path(@event, attendee) %></td>
    <td><%= link_to 'Edit', edit_event_attendee_path(@event, attendee) %></td>
    <td><%= link_to 'Destroy', event_attendee_path(@event, attendee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- Table added to make admin reporting easier -->
<h2>Use this lower table to copy and paste emails</h2>
<table>
  <tr>
    <th>Email</th>
  </tr>

  <% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.email%></td>
  </tr>
  <% end %>
</table>


<br />

<%= link_to 'New Attendee', new_event_attendee_path %>
