<h1>
  <p style="font-size:50px;line-height:1.0" id="notice"><%= notice %></p>
</h1>

<h1>Mountain School Where You Live (MSWYL) - May 4 and 5, 2013</h1>


<%= gmaps4rails(@events_map_data) %>

<h2>What is MSWYL?</h2>
<h4>
  <p>
    Building on the success of Big Idea Day last fall, the Alumni Committee has designed a new spring event: “Mountain School Where You Live.” Conceived around the idea of knowing and celebrating a place, with each local activity organized by a volunteer alumni host, MSWYL events will vary as much as the places where Mountain School alums live. Activities will take place on either Saturday, May 4th or Sunday, May 5th, except in Hawaii and Phoenix, where the hosts have selected the weekend of May 18/19 as their date. (See individual activities below for specific times.)
  </p>
  <p>
    The day is meant to evoke Mountain School themes: appreciating a place; serving a community; exploring the outdoors; making your own fun; sharing food and fellowship. And it reflects a core belief of the new Alumni Initiative: Mountain School graduates should know each other.
  </p>
  <p>
    Please join in and have a wonderful time!
  </p>
</h4>

<% if can? :create, @event %>
  <h2>[Admin Only] -- Total RSVP's: <%= total_rsvps %></h2>
<% end %>

<h2>Find an event! &nbsp&nbsp&nbsp Please RSVP by Friday, April 26th</h2>

<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table cellspacing="0">
  <tr>
    <% if can? :create, @event %>
        <th>RSVP Count</th>
        <th>Last RSVP</th>
    <% end %>
    <th>Event Name</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <% if can? :create, @event %>
      <td><%= event.attendees.count + Attendee.where(:event_id => event.id).sum("num_guests") %></td>
      <td><%= last_rsvp_date(event) %>
    <% end %>    
    <td><%= event.event_name %></td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td><%= event.street %></td>
    <td><%= link_to 'See more details', event %></td>
    <% if can? :update, @event %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'See Attendee List', event_attendees_path(event) %></td>
    <% end %>
    <% if can? :destroy, @event %>
      <td>&nbsp<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br/>

<% if can? :create, @event %>
  <%= link_to 'New Event', new_event_path %>
<% end %>

