<h1>Mountain School Where You Live (MSWYL)</h1>



<h2>Find an event!</h2>
<h3>Press show to see a map</h3>

<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.street %></td>
    <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= event.zip %></td>
    <td><%= link_to 'See more details', event %></td>
    <% if can? :update, @event %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
    <% if can? :destroy, @event %>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
