<h1>Mountain School Where You Live (MSWYL)</h1>


<%= gmaps4rails(@events_map_data) %>

<h2>What is MSWYL?</h2>
<h3>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</h3>

<h2>Find an event!</h2>

<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
    <p class="notice"><%= notice %></p>
  </p>
<% end %>

<table cellspacing="0">
  <tr>
    <th>Event Name</th>
    <th>Location</th>
<!--     <th>City</th>
    <th>State</th>
    <th>Zip</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_name %></td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td><%= event.street %></td>
<!--     <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= event.zip %></td> -->
    <td><%= link_to 'See more details', event %></td>
    <% if can? :update, @event %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'See Attendee List', event_attendees_path(event) %></td>
    <% end %>
    <% if can? :destroy, @event %>
      <td>&nbsp<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @event %>
  <%= link_to 'New Event', new_event_path %>
<% end %>



<!-- !FOR DEBUGGING!
<%= @events_map_data %> -->
