<p id="notice"><%= notice %></p>

<p>
  <b>Street:</b>
  <%= @event.street %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @event.zip %>
</p>

<!-- <p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p> 

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p> -->

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

<% if true %>
<h3>Nearby locations</h3>
<ul>
<% for event in @event.nearbys(100) %>
  <li><%= link_to event.address, event %> (<%= event.distance.round(2) %> miles)</li>
<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
