<p id="notice"><%= notice %></p>

<p>
  <b>Event Name:</b>
  <%= @event.event_name %>
</p>

<p>
  <b>Street:</b>
  <%= @event.street %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>How to Sign Up:</b>
  <%= @event.instructions %>
</p>

<p>
  <b>Date:</b>
  <%= @event.event_date.strftime("%A, %B %d, %Y") rescue nil%>
</p>

<p>
  <b>Time:</b>
  <%= @event.event_time.strftime("%I:%M%p") rescue nil %>
</p>

<p>
  <b>Host Name:</b>
  <%= @event.host_name %>
</p>

<p>
  <b>Host Contact:</b>
  <%= @event.host_contact %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

<% if can? :update, @event %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<%= link_to 'Back', events_path %>
