<!DOCTYPE html>
<html>
<%= flash[:error] %>
<head>
  <title>MSWYL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>
	<p class="alert"><%= alert %></p>

	<%= render 'layouts/footer' %>

	<ul class="hmenu">
  		<%= render 'devise/menu/login_items' %>  
	</ul>
<%= yield :scripts %> 
</body>

</html>


